{% extends "./template.html" %}

{% block content %}

<div class="panel">
	<div class="panel-heading">
		<ol class="breadcrumb">
			<li class="active">{{title}}</li>
		</ol>
	</div>
	<div class="panel-body">
		<p>
			<a href="/manage/slide/{{category}}" class="btn btn-info">轮播图管理</a>&nbsp;&nbsp;
			<a href="/manage/{{category}}/addCategoryExists" class="btn btn-info add-btn">添加分类</a>
		</p>
		<table class="table table-bordered table-hover text-center">
			<thead>
			<tr class="info">
				<td>分类</td>
				<td>分类描述</td>
				<td width="100">文章统计</td>
				<td width="100">前端展示</td>
				<td width="300">编辑</td>
			</tr>
			</thead>
			<tbody>
			{% for data in datas %}
			<tr>
				<td><a href="/manage/{{category}}/{{data.name}}">{{data.name}}</a></td>
				<td>{{data.describe}}</td>
				<td><span class="text-success">{{data.childNum}}</span></td>
				<td><span class="text-primary">{{data.show}}</span></td>
				<td>
					<a href="/manage/{{category}}/editCategoryExists" id="{{data._id}}" name="{{data.name}}" describe="{{data.describe}}" show="{{data.show}}" password="{{data.password}}" class="btn btn-info edit-btn">编辑</a>&nbsp;&nbsp;
					<a href="/manage/{{category}}/deleteCategory?sid={{data._id}}&category={{data.name}}&page={{pageInfo.page}}" class="btn btn-danger delete-btn">删除</a>
				</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
		<nav>
			<ul class="pagination">
				{% if pageInfo.page == 1 %}
				<li class="disabled"><a href="javascript:;"><span>上一页</span></a></li>
				{% else %}
				<li><a href="/manage/{{category}}?page={{pageInfo.page-1}}"><span>上一页</span></a></li>
				{% endif %}

				{% for i in pageInfo.pageArray %}
				{% if i == pageInfo.page %}
				<li class="active"><a href="javascript:;">{{i}}</span></a></li>
				{% else %}
				<li><a href="/manage/{{category}}?page={{i}}">{{i}}</span></a></li>
				{% endif %}
				{% endfor %}

				{% if pageInfo.page >= pageInfo.pageNum %}
				<li class="disabled"><a href="javascript:;"><span>下一页</span></a></li>
				{% else %}
				<li><a href="/manage/{{category}}?page={{pageInfo.page+1}}"><span>下一页</span></a></li>
				{% endif %}
			</ul>
		</nav>
	</div>
</div>
{% endblock %}

{% block modal %}
<div id="add-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="addCategory" action="/manage/{{category}}/addCategory" method="post">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
					<h4 class="modal-title">添加故事分类</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label> 分类名称:</label>
						<input name="name" type="text" class="form-control">
					</div>
					<div class="form-group">
						<label> 分类描述:</label>
						<input name="describe" type="text" class="form-control">
					</div>
					<div class="form-group">
						<label> 前端展示:</label>
						<select name="show" class="form-control">
							<option value="是">是</option>
							<option value="否">否</option>
						</select>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-info">添加</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div id="edit-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="editCategory" action="/manage/{{category}}/editCategory" method="post">
				<input type="hidden" name="id" value="">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
					<h4 class="modal-title">修改故事分类</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label> 分类名称:</label>
						<input name="name" type="text" class="form-control">
					</div>
					<div class="form-group">
						<label> 分类描述:</label>
						<input name="describe" type="text" class="form-control">
					</div>
					<div class="form-group">
						<label> 前端展示:</label>
						<select name="show" class="form-control">
							<option value="是">是</option>
							<option value="否">否</option>
						</select>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-info">修改</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
<script src="https://cdn.bootcss.com/layer/3.0.3/layer.min.js"></script>
<script src="/static/manage/category.js"></script>
{% endblock %}