{% extends "./template.html" %}

{% block content %}

<div class="panel">
	<div class="panel-heading">
		<h3>{{title}}</h3>
	</div>
	<div class="panel-body">
		<p><a href="/manage/slide/index" class="btn btn-info">轮播图管理</a></p>
		<table class="table table-bordered table-hover text-center">
			<thead>
			<tr class="info">
				<td>Title</td>
				<td>Text</td>
				<td width="300">编辑</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<form action="/manage/welcome" method="post">
					<td class="welcome-text">{{welcome.title}}</td>
					<td class="welcome-text">{{welcome.text}}</td>
					<td class="hidden welcome-input">
						<input type="text" class="form-control" name="title" value="{{welcome.title}}">
					</td>
					<td class="hidden welcome-input">
						<input type="text" class="form-control" name="text" value="{{welcome.text}}">
					</td>
					<td>
						<button type="button" class="btn btn-info welcome-edit">编辑</button>
						<button type="submit" class="btn btn-success hidden">修改</button>&nbsp;&nbsp;
						<button type="button" class="btn btn-default hidden welcome-cancel">取消</button>
					</td>
				</form>
			</tr>
			</tbody>
		</table>
	</div>
</div>

{% endblock %}

{% block script %}
<script src="/static/manage/index.js"></script>
{% endblock %}