{% extends "./template.html" %}

{% block content %}

<div class="panel">
	<div class="panel-heading">
		<ol class="breadcrumb">
			<li><a href="/manage/{{category}}">{{categoryName}}管理</a></li>
			<li class="active">{{title}}</li>
		</ol>
	</div>
	<div class="panel-body">
		<p>
			<a href="/manage/{{category}}/{{title}}/add" class="btn btn-info">写{{categoryName}}</a>
		</p>
		<table class="table table-bordered table-hover text-center">
			<thead>
			<tr class="info">
				{% if category !== 'work' %}
				<td>标题</td>
				<td>概述</td>
				{% endif %}
				<td width="200">日期</td>
				<td width="220">编辑</td>
			</tr>
			</thead>
			<tbody>
			{% for data in datas %}
			<tr>
				{% if category !== 'work' %}
				<td title="{{data.title}}"><a href="/{{category}}/{{title}}/{{data._id}}" target="_blank">{{data.title}}</a></td>
				<td class="text-left" title="{{data.preview}}">{{data.preview}}</td>
				{% endif %}
				<td>
					{% if data.date %}
					{{data.date}}
					{% else %}
					{{data.created_at.getFullYear()}}年
					{{data.created_at.getMonth()+1}}月
					{{data.created_at.getDate()}}日&nbsp;&nbsp;&nbsp;&nbsp;
					{% if data.created_at.getHours() > 9 %}
					{{data.created_at.getHours()}} :
					{% else %}
					0{{data.created_at.getHours()}} :
					{% endif %}
					{% if data.created_at.getMinutes() > 9 %}
					{{data.created_at.getMinutes()}}
					{% else %}
					0{{data.created_at.getMinutes()}}
					{% endif %}
					{% endif %}
				</td>
				<td>
					<a href="/manage/{{category}}/{{title}}/edit/{{data._id}}" class="btn btn-info">编辑</a>&nbsp;&nbsp;
					<a href="/manage/{{category}}/{{title}}/delete/{{data._id}}" class="btn btn-danger delete-btn">删除</a>
				</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.bootcss.com/layer/3.0.3/layer.min.js"></script>
<script src="/static/manage/list.js"></script>
{% endblock %}