{% extends "./template.html" %}

{% block content %}

<div class="panel">
	<img src="/static/src/images/fwdt_old/btn_fwdt_download_1.png" alt="">
	<div class="panel-heading">
		<ol class="breadcrumb">
			<li class="active">{{title}}</li>
		</ol>
	</div>
	<div class="panel-body">
		<p><a href="javascript:;" class="btn btn-info mood-add">写心情</a></p>
		<table class="table table-bordered table-hover text-center">
			<thead>
			<tr class="info">
				<td>心情</td>
				<td width="300">编辑</td>
			</tr>
			</thead>
			<tbody>
			{% for item in mood %}
			<tr>
				<td class="text-left" title="{{item.text}}">{{item.text}}</td>
				<td>
					<button type="button" class="btn btn-info mood-edit" mid="{{item._id}}" text="{{item.text}}">编辑</button>&nbsp;&nbsp;
					<a href="/manage/mood/delete/{{item._id}}" class="btn btn-danger delete-btn">删除</a>
				</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block modal %}
<div id="add-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="addCategory" action="/manage/mood/add" method="post">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
					<h4 class="modal-title">写心情</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label> 心情:</label>
						<input name="text" type="text" class="form-control">
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-info">添加</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div id="edit-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="editCategory" action="/manage/mood/edit" method="post">
				<input type="hidden" name="mid" value="">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
					<h4 class="modal-title">编辑心情</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label> 心情:</label>
						<input name="text" type="text" class="form-control">
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-info">修改</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.bootcss.com/layer/3.0.3/layer.min.js"></script>
<script src="/static/manage/mood.js"></script>
{% endblock %}