{% extends "./template.html" %}

{% block content %}

<div class="panel">
	<div class="panel-heading">
		<h3>{{title}}</h3>
	</div>
	<div class="panel-body">
		<p>
			<a href="/manage/slide/story" class="btn btn-info">轮播图管理</a>&nbsp;&nbsp;
			<a href="javascript:;" class="btn btn-info story-add-btn">添加分类</a>
		</p>
		<table class="table table-bordered table-hover text-center">
			<thead>
			<tr class="info">
				<td>名称</td>
				<td>描述</td>
				<td>创建日期</td>
				<td width="300">编辑</td>
			</tr>
			</thead>
			<tbody>
			{% for story in stories %}
			<tr>
				<td><a href="/manage/story/{{story.categoryName}}">{{story.categoryName}}</a></td>
				<td>{{story.categoryDescribe}}</td>
				<td>
					{{story.created_at.getFullYear()}}.{{story.created_at.getMonth()+1}}.{{story.created_at.getDate()}}
				</td>
				<td>
					<a href="/manage/story/edit" class="btn btn-info">编辑</a>&nbsp;&nbsp;
					<a href="/manage/story/deleteCategory?sid={{story._id}}" class="btn btn-danger">删除</a>
				</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block modal %}
<div id="story-add-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="/manage/story/addCategory" method="post">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
					<h4 class="modal-title">添加故事分类</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="categoryName">分类名:</label>
						<input id="categoryName" name="categoryName" type="text" class="form-control">
					</div>
					<div class="form-group">
						<label for="categoryDescribe">分类描述:</label>
						<input id="categoryDescribe" name="categoryDescribe" type="text" class="form-control">
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-info">添加</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script src="/static/manage/story.js"></script>
{% endblock %}