{% extends "./template.html" %}

{% block content %}

<div class="panel">
	<div class="panel-heading">
		<ol class="breadcrumb">
			<li class="active">{{title}}</li>
		</ol>
	</div>
	<div class="panel-body">
		<p>
			<a href="/manage/slide/story" class="btn btn-info">轮播图管理</a>&nbsp;&nbsp;
			<a href="javascript:;" class="btn btn-info add-btn">添加分类</a>
		</p>
		<table class="table table-bordered table-hover text-center">
			<thead>
			<tr class="info">
				<td>分类</td>
				<td>分类描述</td>
				<td>文章统计</td>
				<td width="300">编辑</td>
			</tr>
			</thead>
			<tbody>
			{% for data in datas %}
			<tr>
				<td><a href="/manage/story/{{data.name}}">{{data.name}}</a></td>
				<td>{{data.describe}}</td>
				<td>{{data.childNum}}</td>
				<td>
					<a href="/manage/story/editCategory?sid={{data._id}}" id="{{data._id}}" class="btn btn-info edit-btn">编辑</a>&nbsp;&nbsp;
					<a href="/manage/story/deleteCategory?sid={{data._id}}&category={{data.name}}" class="btn btn-danger delete-btn">删除</a>
				</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block modal %}
<div id="add-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="addCategory" action="/manage/story/addCategory" method="post">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
					<h4 class="modal-title">添加故事分类</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label>分类名:</label>
						<input name="name" type="text" class="form-control">
					</div>
					<div class="form-group">
						<label>分类描述:</label>
						<input name="describe" type="text" class="form-control">
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-info">添加</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div id="edit-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="editCategory" action="/manage/story/editCategory" method="post">
				<input type="test" name="id" value="">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
					<h4 class="modal-title">修改故事分类</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label>分类名:</label>
						<input name="name" type="text" class="form-control">
					</div>
					<div class="form-group">
						<label>分类描述:</label>
						<input name="describe" type="text" class="form-control">
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-info">修改</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script src="/static/validator/validator.min.js"></script>
<script src="/static/layer/layer.js"></script>
<script src="/static/manage/remote.js"></script>
<script src="/static/manage/category.js"></script>
{% endblock %}