{% extends "./template.html" %}

{% block content %}

<div class="panel">
	<div class="panel-heading">
		<ol class="breadcrumb">
			<li><a href="/manage/story">故事管理</a></li>
			<li><a href="/manage/story/{{category}}">故事分类-{{category}}</a></li>
			<li class="active">{{title}}</li>
		</ol>
	</div>
	<div class="panel-body">
		<div class="col-lg-10 col-lg-offset-1">
			<form id="form-valid" class="form-horizontal" action="/manage/story/{{category}}/editStory" method="post">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">标题</span>
						<input id="title" name="title" class="form-control" type="text" value="{{title}}">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">概述</span>
						<textarea class="form-control" name="preview" id="preview" rows="2">{{preview}}</textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">分类</span>
						<select class="form-control" name="category" value="{{category}}">
							{% for item in categories %}
							<option value="{{item.name}}" {% if item.name == category %}selected{% endif %}>{{item.name}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="form-group">
					<script id="web-ueditor" name="content" type="text/plain">{{content|safe}}</script>
				</div>
				<div class="form-group text-center">
					<button type="submit" class="btn btn-info">保存</button>&nbsp;&nbsp;
					<a href="javascript: history.back();" class="btn btn-default">返回</a>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}

{% block script %}
{% include './ueditor.html' %}
{% endblock %}