<!doctype html>
<html lang="en">
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/manage/vendor/linearicons/style.css">

	<!-- MAIN CSS -->
	<link rel="stylesheet" href="/static/manage/css/main.css">

	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="/static/manage/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/static/manage/img/favicon.png">
	{% block style %}{% endblock %}
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
	<!-- NAVBAR -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="brand">
			<a href="/manage">
				<img src="/static/manage/img/logo-dark.png" class="img-responsive logo">
			</a>
		</div>
		<div class="container-fluid">
			<div class="navbar-btn">
				<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
			</div>
			<form class="navbar-form navbar-left">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="文章标题...">
					<span class="input-group-btn"><button type="button" class="btn btn-primary">搜索</button></span>
				</div>
			</form>
			<div class="navbar-btn navbar-btn-right">
				<a class="btn btn-success update-pro" href="/" target="_blank">
					<i class="fa fa-rocket"></i> <span>进入网站主页</span>
				</a>
			</div>
			<div id="navbar-menu">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<img src="/static/manage/img/user.png" class="img-circle">
							<span>{{username}}</span>
							<i class="icon-submenu lnr lnr-chevron-down"></i>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#"><i class="lnr lnr-user"></i> <span>个人中心</span></a></li>
							<li><a href="#"><i class="lnr lnr-exit"></i> <span>退出</span></a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- END NAVBAR -->
	<!-- LEFT SIDEBAR -->
	<div id="sidebar-nav" class="sidebar">
		<div class="sidebar-scroll">
			<nav>
				<ul class="nav">
					<li><a href="/manage" class="{%if title.indexOf('首页') >= 0%}active{%endif%}"><i class="lnr lnr-home"></i> <span>首页</span></a></li>
					<li><a href="/manage/story" class="{%if title.indexOf('故事') >= 0%}active{%endif%}"><i class="lnr lnr-pencil"></i> <span>故事管理</span></a></li>
					<li><a href="/manage/blog" class="{%if title == ''%}active{%endif%}"><i class="lnr lnr-highlight"></i> <span>博客管理</span></a></li>
					<li><a href="/manage/mood" class="{%if title == ''%}active{%endif%}"><i class="lnr lnr-heart-pulse"></i> <span>心情管理</span></a></li>
					<li><a href="/manage/photo" class="{%if title == ''%}active{%endif%}"><i class="lnr lnr-picture"></i> <span>相册管理</span></a></li>
					<li><a href="/manage/work" class="{%if title == ''%}active{%endif%}"><i class="lnr lnr-keyboard"></i> <span>工作管理</span></a></li>
					<!--<li>-->
					<!--<a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Pages</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>-->
					<!--<div id="subPages" class="collapse ">-->
					<!--<ul class="nav">-->
					<!--<li><a href="page-profile.html" class="">Profile</a></li>-->
					<!--<li><a href="page-login.html" class="">Login</a></li>-->
					<!--<li><a href="page-lockscreen.html" class="">Lockscreen</a></li>-->
					<!--</ul>-->
					<!--</div>-->
					<!--</li>-->
				</ul>
			</nav>
		</div>
	</div>
	<!-- END LEFT SIDEBAR -->
	<!-- MAIN -->
	<div class="main">
		<!-- MAIN CONTENT -->
		<div class="main-content">
			<div class="container-fluid">
				{% block content %}{% endblock %}
			</div>
		</div>
		<!-- END MAIN CONTENT -->
	</div>
	<!-- END MAIN -->
	<div class="clearfix"></div>
	<footer>
		<div class="container-fluid">
			<p class="copyright">Copyright &copy; Ryan Lee Blog Administrator 2017</p>
		</div>
	</footer>
	{% block modal %}{% endblock %}
</div>
<!-- END WRAPPER -->
<!-- Javascript -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"></script>
<script src="/static/manage/scripts/klorofil-common.js"></script>
{% block script %}{% endblock %}
</body>
</html>
