{% extends "./template.html" %}

{% block style %}
<link rel="stylesheet" href="/static/fileUpload/css/fileinput.min.css">
{% endblock %}

{% block content %}

<div class="panel">
	<div class="panel-heading">
		<ol class="breadcrumb">
			<li class="active">上传资源管理</li>
		</ol>
	</div>
	<div class="panel-body">
		<input id="uploader" name="image" type="file">
	</div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.bootcss.com/layer/3.0.3/layer.min.js"></script>
<script src="/static/fileUpload/js/fileinput.min.js"></script>
<script src="/static/fileUpload/js/locales/zh.js"></script>
<script src="/static/manage/uploadSource.js"></script>
{% endblock %}