<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>免责声明</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap Css -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Style -->
    <link href="/static/css/main.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .box {
            width: 960px;
            margin: 60px auto 0 auto;
        }
        .box ol {
            margin-top: 30px;
            line-height: 2em;
        }
    </style>
</head>
<body>
    <!-- Header
        ============================================= -->
    <section class="main-header">
        <nav class="navbar-default top-nav-collapse">
            <div class="container">
                <div class="navbar-header">
                    <!--<a class="navbar-brand" href="#"><img src="/static/images/logo/logo.png" class="img-responsive" alt="logo"></a>-->
                    <a class="navbar-brand" href="/" style="font-size: 30px; font-weight: bold; color: #fff; line-height: 40px">Rya Lee</a>
                </div>
            </div>
        </nav>
    </section>
    <div class="box">
        <h2 class="text-center">免责声明</h2>
        <ol>
            <li>本站属于个人网站，网站所用部分资源（如：图片、视频等）来源于网络。如有侵权请告知，我将在第一时间删除。</li>
            <li>本站非盈利、共享组织，不提供外部用户注册。</li>
            <li>本站所转载文章仅用于个人学习，并不代表赞同其观点或证实其真实性，转载会注明原文出处。如有侵权请告知，我将在第一时间删除。</li>
            <li>本站文章可随意转载，请注明出处。</li>
            <li>本站所提供信息，仅供参考。</li>
        </ol>
    </div>
</body>
</html>